html {
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: #504f4f;
}

a {
  color: $black;
}

#main {
  height: 100vh;
}

.main-screen {
  height: 100vh;
  padding-top: 80px;
  position: relative;
}

section {
  // padding: 15px;
}

.container {
  padding: 15px 30px;
}

