.screen {
  background-color: $red;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: $neutral;
  z-index: 10;

  &__begin {
    background-color: $red;
    padding-top: 40px;
  }

  &__end {
    background-color: $navy;
    padding-top: 40px;
  }
}



